*{
    vertical-align: top;
}
#wrapper{ 
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    
}

header h1, nav, aside{
    background-color: blue;
}
header{
    text-align: center;
    color: white;
    flex-direction: column;
    
}
header h1, header figure{
    margin: 0;
}

main{
    display: flex;
    justify-content:center;
    background-color: white;
    align-items:first baseline;
}

nav{
    
    padding-bottom: 1%;
    margin: 5% 1% 0 1%;
    
}
li{
    list-style-type: none;
    padding:5%;
}
a{
    
    color: white;
    text-align: center;
}

article h1{
    color: yellow;
}

aside{
    color: white;
    text-align: center;
    align-items: flex-end;
    margin: 5% 1%;
}

#photo{
    width : 150px;
    height : 150px;
}

footer{
    
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 184);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img{
        max-width: 100%;
        height: auto;
    }
    main {
        flex-direction: column;
    }
    nav{
        text-align: center;
        width:100%;
        margin: 0;
        padding: 0;
    }
    li{
        padding:0;
    }
  }
