#wrapper{ 
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 0 20%;

}

header h1, nav, aside{
    background-color: blue;
}
header{
    text-align: center;
    color: white;
    flex-direction: column;
}
header h1, header figure{
    margin: 0;
}

main{
    display: flex;
    justify-content:center;
    background-color: white;
    
}

nav{
    
    align-items: flex-start;
    color: blue;
    padding-bottom: 1%;
    margin: 5% 1% 30% 1%;
    
}
a{
    
    color: white;
    text-align: center;
}
article h1{
    color: yellow;
}
aside{
    color: white;
    text-align: center;
    justify-items:center;
    margin: 5% 1%;

}
#photo{
    width : 150px;
    height : 150px;
}

footer{
    
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 184);
}

